/*public popbox style*/
.m_icon{width:20px; height:20px;display: block;overflow: hidden;line-height: 500px;float: left;}
.NY-pop-mask{position: absolute;width: 100%;height: 100%;background: #000;opacity:0.2;filter: alpha(opacity=20);top:0;left:0;}
.NY-pop-warp{position: absolute; width: 342px; z-index: 200;}
.NY-pop-bg{background: rgba(0,0,0,.2);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#34000000, endColorstr=#34000000); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#34000000', endColorstr='#34000000')"; /* IE8 */ 
#zoom:1;border-radius: 4px; padding: 3px;position: relative; z-index: 5;}
.NY-pop-ct{ border:1px solid #a6a6a6; background: #fff; border-radius: 2px;position: relative;}
.feed_face_warp{ border-left:1px solid #eaeaea; border-top:1px solid #eaeaea; margin: 4px 7px; overflow: hidden; zoom:1; }
.feed_face_warp span{ cursor:pointer; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; float: left; display: inline-block; width: 24px; height: 24px; padding:2px;}
.arrow{ position:absolute;border-width:3px 3px 0 3px; border-top-color:#333; border-bottom-color:transparent; border-right-color:transparent; border-left-color:transparent; border-style:solid outset outset outset; _border-style:solid dotted dotted dotted ; line-height:0; font-size:0; color:#333; overflow:hidden; }
.NY-arrow{display: block;width:24px; height:12px;position: absolute;z-index: 10;}
.NY-arrow_top{top:-2px; left: 20px;}
.NY-arrow_bottom{bottom:-2px; left: 20px;}
.NY-arrow_left{left:-10px;top:20px;}
.NY-arrow_right{right:-20px;top:20px;}
.NY-pop-warp .npa-a{font-family: "SimSun";overflow: hidden;font-size: 12px;line-height: 1.231;display: block;height: 6px;}
.NY-pop-warp .npa-a{position:absolute; left: 7px;}
.NY-pop-warp .npa-w{font-size: 24px; opacity:0.2; filter:alpha(opacity=20); top:-7px;height: 9px;left:1px;}
.NY-pop-warp .npa-u{color:#a6a6a6; top: 0px; z-index: 11;}
.NY-pop-warp .npa-b{color:#fff; top: 1px;z-index: 12;}
.NY-pop-warp .NY-arrow_bottom .npa-w{top:10px;height: 12px;left:2px;line-height: 0;font-size: 20px;}
.NY-pop-warp .NY-arrow_bottom .npa-u{color:#a6a6a6; top: 1px; z-index: 11;height:15px;}
.NY-pop-warp .NY-arrow_bottom .npa-b{color:#fff; top: 0px;z-index: 12;height:15px;}
.NY-pop-warp .NY-arrow_left .npa-w{height:24px;width:9px;}
.NY-pop-warp .NY-arrow_left .npa-u{color:#a6a6a6; top: 0px; z-index: 11;height:15px;width:6px;}
.NY-pop-warp .NY-arrow_left .npa-b{color:#fff; top: 0px;z-index: 12;height:15px;left:8px;width:6px;}
.NY-pop-warp .NY-arrow_right .npa-w{height:24px;width:5px;text-indent: -15px;top:-8px;left:4px;}
.NY-pop-warp .NY-arrow_right .npa-u{color:#a6a6a6; top: 0px; z-index: 11;height:15px;left:1px;width:6px;text-indent: -6px;}
.NY-pop-warp .NY-arrow_right .npa-b{color:#fff; top: 0px;z-index: 12;height:15px;left:0px;width:6px;text-indent: -6px;}

.NY-pop-title{height: 29px; border-bottom: 1px solid #eaeaea; background:#f5f5f5;padding: 0 10px;position: relative;}
.NY-pop-title .nyt-txt{line-height: 29px;color: #333333; font-weight: bold;}
.NY-pop-title .nyt-close{display: block;width:15px; height:15px;position: absolute;right: 10px;top: 8px; background: url("../images/NY-pop-bg.png") no-repeat 2px 3px;}
.NY-pop-title .nyt-close:hover{background-color: #eaeaea;}
.NY-con_loading{height: 300px;background: url("../images/middle_loading.gif") no-repeat center;}
.NY-con-cofirm{padding: 20px;}
.NY-ccf{word-wrap: break-word;overflow: hidden;color: #666;_margin: 0 0 0 40px;padding-top:5px;}
.NY-con_icon{display: block;width: 26px; height: 26px;float: left;margin-right:10px;}
.NY-warn{background: url("../images/NY-pop-bg.png") no-repeat -16px 3px;}
.NY-con-cnfirm-txt{color: #666; overflow: hidden;zoom:1;margin-bottom:10px;}
.NY-con-cnfirm-txt p{line-height: 20px;}
.NY-com-btnarea{height: 25px; text-align: center; float: left;width:100%;}
.NY-com-btnarea .NY_rt_btn{margin: 0 5px;padding:0 2px; overflow: hidden;zoom:1;}
/*NY button style*/
.NY_ft_btn{float: right;height: 25px;margin-right: 3px;}
.NY_rt_btn{display: inline-block;height: 25px;text-align: center;}
	/*define btn style s*/
.NY_iw,.NY_ii{display: inline-block;height: 23px;line-height: 23px;position: relative;border-color:#cccccc; background: #fff;}
.NY_iw{left: 1px;border-width: 1px;border-style: solid;#zoom:1;}
.NY_ii{margin: 0 -2px; border-style:solid; border-width:0 1px;#left:-2px;}
.NY_it{padding: 0 13px;display:inline-block;height: 21px;line-height:21px; margin:1px;background: #f2f2f2;#margin-right:-5px;}
	/*define btn style end*/
.NY_rt_btn .NY_it{color:#333;#margin-right:-0px;}
.NY_rt_active .NY_iw,.NY_rt_active .NY_ii{border-color:#3fb4f6; background: #7dd0fe;#zoom:1;#left:-2px;}
.NY_rt_active .NY_it{background: #4ebffe; color:#fff;#margin-right:-0px;}
.NY-con-cofirm{padding:20px;color: #666;overflow: hidden;zoom:1;}
.NY-con-toast{padding:15px 10px; text-align: center;}
.NY-con-toast p{line-height: 29px; font-size: 14px;font-weight: bold;color: #666;}
.NY-con-alert-txt{padding: 0 0 20px 0;float: left;width: 100%;overflow:hidden;_zoom:1;}
.NY-con-alert-txt p{color: #666; line-height: 22px;}
/*delete popbox style*/
.NY_feed_del{background: #fff;}
.NY_feed_cont{padding:10px 15px;}
.NY_feed_icon_ask{background: url("../images/NY-pop-bg.png") no-repeat -51px -3px;float: left;}
.NY_feed_icon_true{background: url("../images/NY-pop-bg.png") no-repeat -76px -3px;float: left;}
.NY_feed_cont .btn{padding:0px 0 0 0;#zoom:1;text-align: right;float:left; width:100%;}

.NY_report_warp{background: #fff;}
.NY_report{padding: 15px 30px;overflow: hidden;zoom:1;}
.NY_tipwarp{text-align: center; padding-bottom:15px;}
.NY_icon{background: url("../images/NY-pop-bg.png") no-repeat;width: 26px;height: 26px;display: inline-block;}
.NY_icon_atatiion{float: left;background-position:  -16px 3px;}
.NY_icon_ok{float: left;background-position:  -100px 3px;}
.NY_tiptxt{font-size: 14px;font-weight: bold;color:#666;line-height: 26px;display: inline-block; padding-left: 0px;}